@import url(http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    background:#0a87ed;
}

.wrapper {
    width: 50%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.text-info {
    padding: 20px;
    text-align: justify;
    text-decoration: dotted;
    color: rgb(45, 45, 45);

}

.wrapper .title {
    color: #fff;
    line-height: 65px;
    text-align: center;
    background: #333;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px 10px 0 0;
}
.wrapper .box {
    padding: 20px 40px;
    background: #e9e9e9b5;
}

.uem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 20%;
    opacity: 1;
    transition: all 0.3s ease;
}

.uem:hover {
    opacity: 0.8;
    transition: all 0.5s ease;

}